<!-- footer -->
<footer class="bg-dark section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">이메일 주소</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">팀장</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.leader }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-3 text-light text-white text-center"><a href="https://teamcntn.kro.kr/terms">이용약관</a> | <a href="https://teamcntn.kro.kr/privacy">개인정보처리방침</a></p>
    <p class="mb-0 text-light">{{site.data.settings.copyright | markdownify}}</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
